/* Styles for main body display */
body {
    background-color: #5ea6e5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('bg-1.jpg');
    background-size: cover;      
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    
}

/* Styles for header text */
header {
    padding: 10px;
    text-align: center;
    font-size: large;
    font-family: 'SpongeBob Font Wide', sans-serif;
}

/* Styles for the Spongebob image */
.spongebob-img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* Styles for entire chat log */
.chat-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
    margin-top: 20px;
    width: 1000px;
    min-width: 1000px;
    max-height: 300px;
    overflow: auto; 
}

/* Styles for chatbot messages (incoming) */
.chatbot-message {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    align-self: flex-start; 
    min-width: 950px;
}

/* Styles for user's input messages (outgoing) */
.user-message {
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    align-self: flex-end; 
    min-width: 950px;
}

/* Styles for chatbot's texts */
.message-input {
    display: flex;
    width: 500px;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

/* Styles for grid containing Spongebob's image and chat log */
.grid-container {
    display: grid;
    grid-template-columns: 0.75fr 0.75fr;
    gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
    height: 50vh;
}

/* Styles for user input text box and enter button */
.input-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: center;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

/* Styles for user input textbox */
#userInput {
    flex-grow: 1;
    font-size: 20px;
    padding: 5px 7px;
    font-family: 'SpongeBob Font Condensed', sans-serif;
}

/* Styles for input textbox's enter button */
#enter-button {
    background-color: rgb(255, 213, 0);
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 5px 7px;
    font-family: 'SpongeBob Font Condensed', sans-serif;
}

/* Styles for typing indicator container */
.tiblock {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 0.25rem;

    background: #f5f5f5;
    border-radius: 9999px;
    padding: 1rem;
}

/* Styles for each dot in typing indicator container */
.tidot {
    border-radius: 9999px;
    height: 0.5rem;
    width: 0.5rem;

    background: #bec7db;
    opacity: 0;
    animation: blink 1s infinite;
}

/* Styles for each individual typing indicator dot */
.tidot:nth-child(1) {
    animation-delay: 0.3333s;
}
.tidot:nth-child(2) {
    animation-delay: 0.6666s;
}
.tidot:nth-child(3) {
    animation-delay: 0.9999s;
}

/* Animation to be applied on each typing indicator dot */
@keyframes blink {
    50% {
        opacity: 1;
    }
}
